<div>
	<div><input type='text' id="simple-drawing-color-pallet" /></div>
	<button id="simple-drawing-clipboard" class="btn btn-default btn-md" data-clipboard-target=".sp-input">
		<i class="glyphicon glyphicon-copy"></i> Copy the Color
	</button>
</div>