<div class="row">
	<div class="col-xs-12">
		<div class="well">
			<strong>Instructions:</strong>
			<ul>
				<li>Choose a color from the color pallet</li>
				<li>Copy the chosen color using button 'Copy the Color'</li>
				<li>Click on any cell to color it</li>
				<li>If a cell is already colored, clicking on that cell will overwrite the old color</li>
				<li>Hover on a colored cell to see who colored it and when</li>
				<li>Click 'Refresh Grid' button to reflect the changes made by other users</li>
			</ul>
		</div>
	</div>
</div>