<%= render 'instructions' %>

<div class="row">
	<div class="col-xs-12 col-md-9">
		<div>
			<%= link_to refresh_grid_cells_path, remote: true, class: "btn btn-default btn-sm pull-right" do %>
				<i class="glyphicon glyphicon-refresh"></i> Refresh Grid
			<% end %>
			<h3>Grid</h3>
		</div>

		<div id="grid-container" class="grid-container">
			<%= render @grid_cells %>
		</div>
	</div>
	<div class="col-xs-12 col-md-3">
		<h3>Color Pallet</h3>
		<%= render 'color_pallet' %>
	</div>
</div>