<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path, data: { no_turbolink: true }, class: "navbar-brand" do %>
        Simple Drawing App
      <% end %>
    </div>
  </div>
</nav>