<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path, data: { no_turbolink: true }, class: "navbar-brand" do %>
        Simple Drawing App
      <% end %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown roci-notifications">
      	<a>Welcome <%= random_user.user_name %></a>
      </li>
    </ul>
  </div>
</nav>